@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F5F5F5;
}

.flex {
  flex-grow: 1;
}

.align {
  display: flex;
}

.align.horizontal {
  flex-direction: horizontal;
  align-items: stretch;
}

.sidenav {
  z-index: 5;
  width: 240px !important;
  align-self: stretch;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.sidenav header {
  background: #B71C1C;
  color: #fff;

  height: 100px;
  padding: 8px;
  display: flex;
  flex-direction: vertical;
  align-items: flex-end;
}

.sidenav header h3 {
  font-weight: normal;
}

.sidenav .content {
  height: calc(100vh - 116px);
  overflow-y: auto;
}

.sidenav .content ul {
  list-style: none;
}

.sidenav .content li a {
  display: flex;
  flex-direction: horizontal;
  padding: 8px;
  background-color: #fff;
  transition: background-color 0.5s;
  text-decoration: none;
}

.sidenav .content li a:hover {
  background-color: #ddd;
}

.sidenav .content li a i {
  color: #B71C1C;
  padding: 4px;
}

.sidenav .content li a .list-title {
  color: #222;
  padding: 8px;
  margin-left: 16px;
}

.toolbar {
  display: flex;
  background-color: #D32F2F;
  align-self: stretch;
  color: #fff;
  height: 60px;
  padding: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.toolbar.mini {
  width: 100% auto;
  height: 40px;
  box-shadow: none;
}

.toolbar.mini h3 {
  flex-grow: 1;
}

.toolbar .header-icons {
  margin-right: 16px;
  display: flex;
  position: relative;
  align-items: center;
}

.toolbar .header-icons a {
  display: flex;
  color:  #fff;
  text-decoration: none;
  align-items: center;
}

.toolbar .header-icons a:after {
  position: absolute;
  pointer-events: none;
  content: attr(title);
  text-align: center;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
}

.toolbar .header-icons a:hover:after {
  transform: scale(1);
  top: -20px;
  opacity: 1;
}

.toolbar h3 {
  align-self: center;
  font-weight: normal;
  padding: 4px;
  margin-left: 16px;
}

.layout-padding {
  padding: 8px;
}

.restaurant:not(:target) {
  display: none;
  padding: 4px;
}

#restaurant-list {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-height: calc(100vh - 90px);
}

.container {
  display: block;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.rating {
  color: #E64A19;
  display: flex;
  align-items: center;
}

.rating .score {
  padding: 4px;
  font-size: 20px;
}

.rating .stars {
  padding: 4px;
}

.icon-pair {
  display: flex;
  align-items: center;
}

.icon-pair .text {
  margin-left: 4px;
  padding: 4px;
}

.details {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  position: relative;
  transform: translate(0, 0);
}

.details .information {
  width:  100%;
  box-sizing: border-box;
}

.details .image {
  position: absolute;
  top: 0;
  right: 0;
}

.details .image img {
  display: flex;
  height: 200px;
  object-fit: cover;
}

#instructions {
  z-index: -1;
  position: fixed;
  margin: 32px;

  text-align: center;
  font-size: 32px;

  color: #999;
}

.menu {
  font-weight: normal;
  padding: 16px;
  border-bottom: thin solid #ddd;
}

.menu-list {
  padding: 4px;
  list-style: none;
}

.menu-list li {
  padding: 4px;
}

.menu-sub-list {
  margin-left: 16px;
}

.menu-sub-list li {
  font-size: 12px;
}

ul.columns-2 {
  margin-left: 0;
  columns: 2;
  list-style-position: inside;
}

body div.flex.vertical {
  width: calc(100vw - 240px);
}

@media screen and (max-width: 1150px) {
  .sidenav {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    height: 100vh;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s, box-shadow 0.5s;
  }

  .sidenav::after {
    position: fixed;
    color: #fff;
    top: 0;
    font-size: 24px;
    padding: 1em;
    left: 100%;
    font-family: 'Material Icons';
    content: '\e5d2';
    background-color: rgba(0, 0, 0, 0);
  }

  .sidenav:hover::after {
    color: rgba(0, 0, 0, 0);
  }

  .sidenav .content::after {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    content: ' ';
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
  }

  .sidenav:hover .content::after {
    background-color: rgba(0, 0, 0, 0.2);
  }

  #topbar {
    padding-left: 3em;
  }

  .sidenav:hover {
    transform: translateX(0%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  body div.flex.vertical {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 875px) {
  .details {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .details .information {
    width: 100%;
    margin-top: 200px;
  }

  .header-icons a {
    font-size: 0px;
  }
  .header-icons i {
    font-size: 24px;
  }

  .details .image img {
    display: flex;
    height: auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .photos img {
    height: auto;
    width: 100%;
    object-fit: none;
  }
}

.input-container {
  padding: 16px 4px 4px 4px;
  background: transparent;
  position: relative;
}

.input-container input[type='text'],  .input-container select {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 4px;
  font-size: 16px;
  border-bottom: thin solid grey;
  background: transparent;
}

.input-container input[type='text']+.effects label {
  position: absolute;
  top: 16px;
  left: 4px;
  padding: 4px;
  color: #bbb;
  font-size: 16px;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}

.input-container input[type='text']:focus+.effects label {
  color: blue;
}

.input-container input[type='text']:focus+.effects label, .input-container input[type='text']:valid+.effects label {
  top:  2px;
  font-size: 8px;
}

.input-container input[type='text']+.effects::after {
  content: ' ';
  position: absolute;
  bottom: 3px;
  left: 4px;
  background-color: blue;
  width: 0;
  margin: auto;
  height: 2px;
  transition: width 0.2s;
}

.input-container input[type='text']:focus+.effects::after {
  width: 100%;
}

.input-container select+.effects::after {
  content: ' ';
  position: absolute;
  bottom: 3px;
  left: 50%;
  background-color: blue;
  width: 0;
  margin: auto;
  height: 2px;
  transition: width 0.2s, left 0.2s;
}

.input-container select:focus+.effects::after {
  width: 100%;
  left: 0;
}

.input-container select+.effects label {
  position: absolute;
  top: 16px;
  left: 4px;
  padding: 4px;
  color: #bbb;
  font-size: 16px;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}

.input-container select+.effects label {
  top:  2px;
  font-size: 8px;
}

.input-container select:focus+.effects label, .input-container select:valid+.effects label {
  color: blue;
}

#like-check::before {
  width: 24px;
  height: 24px;
  margin: 4px;
  color: #999;
  font-size: 24px;
  font-family: 'Material Icons';
  content: '\e8dc';
  transition: color 0.2s;
}

#like-check:checked::before {
  color: orangered;
}

#dislike-check:checked::before {
  color: blue;
}

#dislike-check::before {
  width: 24px;
  height: 24px;
  margin: 4px;
  color: #999;
  font-size: 24px;
  font-family: 'Material Icons';
  content: '\e8db';
  transition: color 0.2s;
}

.input-container input[type='radio'] {
  width: 0;
}

.input-container input[type='radio']:last-child {
  margin-left: 24px;
}


.material-button {
  border: 0;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
  min-width: 100px;
  margin: 4px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1E88E5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.material-button:hover {
  background-color: #2196F3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.material-button:active {
  background-color: #42A5F5;
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    flex-direction: columns;
    justify-content: center;
    align-items: center;
}

.modal {
  color: white;
  display: block;
  width: 300px;
}

.modal header {
  background-color:#b71c1c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.modal header h3 {
  font-family: 'Roboto';
  font-weight: 300;
  padding: 4px;
}

.modal-details {
  color: #000;
}

.icon-button {
  border-radius: 50%;
  padding: 4px;
  margin-right: -4px;
  transition: background-color 0.2s;
}

.icon-button:hover {
  cursor:pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#map {
  display: none;
}

.map {
  width: 100%;
  height: 200px;
}

.review {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.review .text {
  padding: 8px;
  margin: 4px;
  font-weight: 200;
  font-size: 14px;
}

.review:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.review .postMeta {
  font-size: 12px;
}

.review .rating {
  display: inline-block;
}

.review a {
  text-decoration: none;
}

.review a:hover {
  text-decoration: underline;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 8px;
}

.photos {
  text-align: center;
}

.photos img {
  height: 200px;
  object-fit: contain;
}